*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.active{
    border-bottom: 4px solid rgb(229, 244, 21);
     border-radius: 10px;
   }
   .s-animate{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
   transition: all 1s;
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
    animation: fadeIne 2s forwards ;
  }
   @keyframes fadeup{
    from{
       opacity: 0;
       transform: translatey(-30%);
    }to{
       opacity: 1;
       transform: translateX(0);
    }
  }
  @keyframes fadeIne{
    from{
       opacity: 0;
       transform: translateX(-30%);
    }to{
       opacity: 1;
       transform: translateX(0);
    }
  }
   .container{
    background: linear-gradient(153deg, rgb(42, 39, 105) 0%, rgb(138, 138, 222) 55%, rgba(0,212,255,1) 100%);
    
    display: grid;
    grid: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 80vh 35vh ;
    grid-template-areas:
    "logo nav-bar nav-bar"
    " contact-info contact-info contact-info "
    "footer footer footer"
    ;
    
 }
 .logo{
    grid-area: logo;
    font-size: 45px;
    display: flex;
    align-items: center;
   justify-content: center;
   position: relative;
  /* background-color: black; */
   
    
 }
 .logo a{
   text-decoration: none;
   color: rgb(255, 255, 255);
 }
 .logo span{
   color: rgb(252, 53, 53);
 }
 .logo span:hover{
   color: blue;
 }
 .nav-bar{
    grid-area: nav-bar;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    /* background-color: black; */
  
 }
 .nav-bar nav{
   display: flex;
   flex-direction: row;
  
      
 }
 .nav-bar nav a{
   list-style: none;
   text-decoration: none;
   color: rgb(239, 239, 239);
   margin-right: 15px;
   margin-bottom: 0px;
   padding: 5px  ;

 }
 .nav-bar a.active,.nav-bar a:hover {
  border-bottom: 1px solid rgb(234, 255, 0);
   border-radius: 10px;
  
 }
 .contact-info{
  grid-area: contact-info;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
 }
.contact-info .sec-1 header{
 display: flex;
 align-items: center;
 flex-direction: column;
}
.contact-info .sec-1 p{
 font-size: 20px;
 max-width: 800px;
 

}
.contact-info .sec-1 header   .icon{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly ;
  font-size: 30px;


 
  
}
.contact-info .icon i{
  margin-left: 10px;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.contact-info .icon i:hover{
  margin-left: 10px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
.contact-info .sec-2 h3{
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-info .sec-2{
 margin-top: 40px;

}
.contact-info .sec-2 span ,div{
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.contact-info .sec-1 h1,.sec-2 h3{
  color: white;
}
.contact-info .sec-1 h1{
  margin-bottom: 40px;
}


.footer{
  grid-area: footer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }
 .footer .logo{
  display: flex;
  justify-content: start;
  margin: 10px 10px 10px 100px;
 }
 .footer .brand-dis-1{
  max-width: 400px;
  margin: 10px 10px 10px 100px;
 }
 .footer .social-icon{
  margin: 10px 10px 10px 100px;

   
 }
 .footer .social-icon i{
  margin-left: 30px;
  margin-top: 30px;
  color: white;
 }
 .footer .social-icon i:hover{
  color: gray;
 }
 .footer .sec-2 {
  margin-top:30px;
 } 
 .footer .links h3 {
   font-size: 23px;
   margin-bottom: 10px;
 }
 .footer .sec-2 a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  
 
 }
 .footer .sec-3{
  max-width: 600px;
  margin: 60px 10px 10px 100px;
 }
 .footer .links{
  display: flex;
  flex-direction: column;
}

 @media only screen and (max-width:600px) {

  .container{
    background: linear-gradient(153deg, rgb(42, 39, 105) 0%, rgb(138, 138, 222) 55%, rgba(0,212,255,1) 100%);
    
    display: grid;
    grid: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto auto ;
    grid-template-areas:
    "logo nav-bar nav-bar"
    " contact-info contact-info contact-info "
    "footer footer footer"
    ;
    
 }

 .logo{
  grid-area: logo;
  font-size: 25px;
  display: flex;
  align-items: center;
 justify-content:start;
 padding-left: 10px;  
}
  .nav-bar{
    grid-area: nav-bar;
    font-size: 13px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: static;
    
  
  }
  .contact-info .sec-1 p,h1{
    padding: 29px;
  }
  .sec-2{
    padding: 20px;
  }
  .footer{
  
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction:column;
    align-items:start;
   padding: 10px;
    
  }
  .footer .sec-1{
  margin: 0;
  }
  .footer .logo-s1{
  display: flex;
  justify-content: start;
  margin: 10px 0px 10px 100px;
  }
  .footer .brand-dis-1{
  margin: 20px;
  
  }
  .footer .social-icon{
  margin: 10px 10px 10px 100px;
  
   
  }
  .footer .social-icon i{
  padding-left: 20px;
  color: rgb(255, 255, 255);
  
  
  
  }
  .footer .social-icon i:hover{
  color: gray;
  }
  .footer .sec-2 {
  
  margin: 20px;
  } 
  .footer .links h3 {
   font-size: 23px;
   
   
  
  }
  .footer .links{
  display: flex;
  flex-direction: column;
  
  }
  .footer .sec-3{
  max-width: 600px;
  margin: 20px;
  }


 }
  